@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

button:not(:disabled),
a[href],
[role="button"] {
  cursor: pointer;
}

.font-sora {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }